<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecole</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		
<!-- <div id="fixed-navbar-"> <a href="">Accueil </a>  </div> -->
<div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->
      <!-- <ul>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
      </ul> -->
   </div>
   <!-- menu-wrapper -->
	   <ul class="menu-list accordion">
	      <li id="nav1" class="toggle" style="padding: 20px;"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="../index.html">
	         	Accueil&nbsp;
	     	 </a>
	      </li>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav1" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Programme&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	      	 <a class="menu-link" href="./presentation.html">Présentation</a>
	         <li><a class="head" href="./plateforme.html">Plateforme</a></li>
	         <li><a class="head" href="./programme.html">Programmes</a></li>
	         <li><a class="head" href="./planning.html">Planning</a></li>

	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav2" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Projet pédagigique </br>1° et 2° année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="nosintentions.html">&nbsp; Nos intentions</a></li>
	         <li><a class="head" href="methode.html">&nbsp; Méthode</a></li>
	         <li><a class="head" href="unrealisateur.html">&nbsp; Un réalisateur/Une œuvre/Une année</a></li>
	         <li><a class="head" href="masterclass.html">&nbsp; Master Class, Workshop</a></li>
	         <li><a class="head" href="videoconf.html">&nbsp; Vidéo-conférences</a></li>
	         <li><a class="head" href="pedagogie_prog.html">&nbsp; Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements théoriques  </br>1° et 2° année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="ecrannarration.html">Ecrans/Narration</a></li>
	         <li><a class="head" href="moduletheorique.html">&nbsp; - Modules théoriques</a></li         <li><a class="head" href="theoriquesoptionnels.html">Modules théoriques optionnels</a></li>
	         <li><a class="head" href="ensemble.html">&nbsp; - Ensemble / A la carte</a></li>
	         <!-- <li><a class="head" href="alacarte.html">&nbsp; - A la carte</a></li> -->
<!-- 	         <li><a class="head" href=".html">&nbsp; - Histoire du l'Art</a></li>
	         <li><a class="head" href=".html">&nbsp; - Technique et cognition</a></li>
	         <li><a class="head" href=".html">Ensemble</a></li>
	         <li><a class="head" href=".html">&nbsp; - Programme imposés</a></li>
	         <li><a class="head" href=".html">A la carte</a></li>
	         <li><a class="head" href=".html">&nbsp; - Programmes optionnels</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	        <a class="menu-link" href="#">Enseignements pratiques  </br>1° et 2° année&nbsp;</a>
	      </li> 
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="pratiques.html">Enseignements pratiques</a></li>
	         <li><a class="head" href="modulespratiques.html">Modules pratiques</a></li>
	         <!-- <li><a class="head" href="pages/modulesoptionnels.html">&nbsp; - Modules pratiques optionnels</a></li> -->
	         <li><a class="head" href="options2.html">Modules optionnels</a></li>
	         <li><a class="head" href="videoconf2.html">&nbsp; - Vidéo-conférences</a></li>
	         <li><a class="head" href="formesnarrative.html">&nbsp; - Les formes narratives</a></li>
	         <li><a class="head" href="mooc.html">&nbsp; - MOOCS</a></li>
	         <li><a class="head" href="moocopen.html">&nbsp; - Open MOOCS</a></li>
	         <li><a class="head" href="ensemble_a_la_carte_2.html">Ensemble / A la carte</a></li>
	        <!--  <li><a class="head" href="#">A la carte</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Les Ecoles&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="planning.html">&nbsp; Paris cursus long</a></li>
	         <li><a class="head" href="http://www.prepart.fr/prepa-cinema/">&nbsp; Toulouse prépa Cinéma</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="equipes-enseigantes.html">Equipes enseignantes &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="equipes-enseigantes.html">&nbsp; Paris</a></li>
	         <li><a class="head" href="equipes-enseigantes.html">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact.html">Inscriptions/Connexion</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="contact.html">&nbsp; Connexion </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Inscription </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Choix des options </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Regles les droits d'inscription</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact.html">Contactez-nous</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content" style="padding-right: 17px;">
	        
	         <button class="button alt fit"><li><a class="head" href="contact.html">Renseignez-vous</a></li></button> 
	         <button class="button alt fit"><li><a class="head" href="contact.html">Prendre rendez-vous</a></li></button>

	      </ul>
	   </ul>
	   <!-- menu-list accordion-->
</div>
<!-- menu-container -->

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Ecrans / Narrations / New Tech</p>
						<h2>Nous contacter</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
		
			<section id="two" class="wrapper style2""><div id="ancre_1"></div>
				<div class="inner">
					<div class="box">
						<div class="content" style="background-color: #f2f2f2f2;"">
						   <header class="align-center">
							    <!-- <p>Pour toutes les questions relatives à nos formations</p>
								<h2>Nous contacter</h2>
							-->
							</header> 
							<div class="container">
								<h3>Formulaire</h3>

								<form method="post" action="#">
									<div class="row uniform">
										<div class="3u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="Nom" />
										</div>
											<div class="3u 12u$(xsmall)">
											<input type="text" name="firstname" id="firstname" value="" placeholder="Prénom" />
										</div>
										<div class="5u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="Email" />
										</div>
										<!-- Break -->
										<div class="11u$">
											<div class="select-wrapper">
												<select name="category" id="category">
													<option value=""></option>
													<!--
													<option value="1">Programme</option>
													<option value="1">Inscription</option>
													<option value="1">Portes ouvertes</option>
													<option value="1">Informations générales</option>
													-->
													<option value="1">Contactez-nous</option>
													<!-- <option value="1"></option> -->
												</select>
											</div>
										</div>
										<!-- Break -->
										<!-- <div class="6u$ 12u$(small)">
											<input type="checkbox" id="human" name="human" checked>
											<label for="human">Je ne suis pas un robot</label>
										</div> -->
										<!-- Break -->
										<div class="11u$">
											<textarea name="message" id="message" placeholder="Votre message" rows="6"></textarea>
										</div>
										<!-- Break -->
										<div class="11u$">
											<ul class="actions">
												<li><input type="submit" value="Envoyer" /></li>
												<li><input type="reset" value="Effacer" class="alt" /></li>
											</ul>
										</div>
									</div>
								</form>

							</div>
							
						</div>
					</div>
				</div>
			
				<div class="inner" >
					<div class="box">
						<div class="content" style="background-color: black;">
						   <header class="align-center">
							    <!-- <p>Pour toutes les questions relatives à nos formations</p>
								<h2>Nous contacter</h2>
							-->
							</header> 
							<div class="container">
								

								<h3 style="color: white;">PRÉPA CINÉ PARIS</h3>
								<span class="image left"><img src="../images/camera.jpg" alt="" /></span>
								<p>111 boulevard de Menilmontant 75011 Paris
								</p>
								<p>
								Téléphone : 01 47 00 06 56</p>
								<p>
								E-mail : ecole@prepart.fr </p>
								<p style='margin-top: 200px;'>
								Accés : M° Ménilmontant (ligne 2)</p>

								<div class="clear"></div> 


							</div>
							
						</div>
					</div>
				</div>
			</section>



		<!-- Scroll top here -->
		<a href="#menu-container" class="size-60 text-center"><span class="scroll-to-top "><i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i></span></a>

		<iframe
			style="width: 100%; margin-bottom: -10px;"
			height="450"
			frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAXgdJIQrHcff-MAkezPm7aQQDnffI-u_k 
			    &q=paris+111+boulevard+menilmontant" allowfullscreen>
		</iframe>
		


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>