<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecole</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		

<div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->

      <!-- <ul>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
      </ul> -->
   </div>
   <!-- menu-wrapper -->
   <div class="fixed">
	   <ul class="menu-list accordion">
	      <li id="nav1" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="../index.html">Présentation</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">Plateforme</a></li>
	         <li><a class="head" href="#">&nbsp; - Formation par la transmission</a></li>
	         <li><a class="head" href="#">&nbsp; - Ressources</a></li>
	         <li><a class="head" href="#">&nbsp; - Plateforme ouverte</a></li>
	         <li><a class="head" href="#">Programmes</a></li>

	         <li><a class="head" href="#">&nbsp; - Volumes horaires</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav2" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Projet pédagigique 1° et 2° année</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">&nbsp; Nos intentions</a></li>
	         <li><a class="head" href="#">&nbsp; Méthode</a></li>
	         <li><a class="head" href="#">&nbsp; Programmes généraux</a></li>
	         <li><a class="head" href="#">&nbsp; Master Class, Workshop</a></li>
	         <li><a class="head" href="#">&nbsp; Vidéo-conférences</a></li>
	         <li><a class="head" href="#">&nbsp; Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	           <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements théoriques 1° et 2° année</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">Les écrans</a></li>
	         <li><a class="head" href="#">&nbsp; - Analyse filmique</a></li>
	         <li><a class="head" href="#">&nbsp; - Techniques et cognition</a></li>
	         <li><a class="head" href="#">Les Narrations</a></li>
	         <li><a class="head" href="#">&nbsp; - Théorie du Cinéma</a></li>
	         <li><a class="head" href="#">&nbsp; - Histoire du Cinéma</a></li>
	         <li><a class="head" href="#">&nbsp; - Histoire du l'Art</a></li>
	         <li><a class="head" href="#">&nbsp; Technique et cognition</a></li>
	         <li><a class="head" href="#">Ensemble</a></li>
	         <li><a class="head" href="#">&nbsp; - Programme imposés</a></li>
	         <li><a class="head" href="#">A la carte</a></li>
	         <li><a class="head" href="#">&nbsp; - Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Ecoles</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">&nbsp; Paris cursus long</a></li>
	         <li><a class="head" href="#">&nbsp; Toulouse prépa Cinéma</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Equipes enseignantes</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">&nbsp; Paris</a></li>
	         <li><a class="head" href="#">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Inscriptions</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="#">&nbsp; INSCRIVEZ-VOUS</a></li>
	         <li><a class="head" href="#">&nbsp; ET ACCÉDEZ À LA PLATEFORME</a></li>
	         <li><a class="head" href="#">&nbsp; CHOISISSEZ VOTRE COURS ET DE REMPLISSEZ LA DEMANDE D’INSCRIPTION</a></li>
	         <li><a class="head" href="#">&nbsp; EFFECTUER LE PAIEMENT DU DROIT D’INSCRIPTION</a></li>
	         <li><a class="head" href="#">&nbsp; TÉLÉCHARGER LES DOCUMENTS NÉCESSAIRES</a></li>
	         <li><a class="head" href="#">&nbsp; LETTRE D’ACCEPTATION</a></li>
	         <li><a class="head" href="#">&nbsp; CHOISISSEZ LES OPTIONS QUE VOUS VOULEZ AJOUTER À VOTRE INSCRIPTION</a></li>
	         <li><a class="head" href="#">&nbsp; LETTRE D’ACCEPTATION</a></li>
	         <li><a class="head" href="#">&nbsp; EFFECTUER LE PAIEMENT DES DROITS D’INSCRIPTION   </a></li>
	         <li><a class="head" href="#">&nbsp; NOUS VOUS RAPPELONS QUE…</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   </ul>
	   <!-- menu-list accordion-->
	</div>
</div>
<!-- menu-container -->

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Eleifend vitae urna</p>
						<h2>Generic Page Template</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>maecenas sapien feugiat ex purus</p>
								<h2>Lorem ipsum dolor</h2>
							</header>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at dignissim augue, in iaculis neque. Etiam bibendum felis ac vulputate pellentesque. Cras non blandit quam. Nunc porta, est non posuere sagittis, neque nunc pellentesque diam, a iaculis lacus urna vitae purus. In non dui vel est tempor faucibus. Aliquam erat volutpat. Quisque vel est vitae nibh laoreet auctor. In nec libero dui. Nulla ullamcorper, dolor nec accumsan viverra, libero eros rutrum metus, vel lacinia magna odio non nunc. Praesent semper felis eu rhoncus aliquam. Donec at quam ac libero vestibulum pretium. Nunc faucibus vel arcu in malesuada. Aenean at velit odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas commodo erat eget molestie sollicitudin. Donec imperdiet, ex sed blandit dictum, ipsum metus ultrices arcu, vitae euismod nisl sapien vitae tortor.</p>

							<p>Vivamus nec odio ac ligula congue feugiat at vitae leo. Aenean sem justo, finibus sed dui eu, accumsan facilisis dolor. Fusce quis dui eget odio iaculis aliquam vel sed velit. Nulla pellentesque posuere semper. Nulla eu sagittis lorem, a auctor nulla. Sed ac condimentum orci, ac varius ante. Nunc blandit quam sit amet sollicitudin sodales.</p>

							<p>Vivamus ultricies mollis mauris quis molestie. Quisque eu mi velit. In et cursus nibh. Donec facilisis, orci sed mollis hendrerit, nunc risus mattis odio, eget efficitur nisl orci a lectus. Aenean finibus neque convallis orci sollicitudin tincidunt. Vivamus lacinia facilisis diam, quis facilisis nisi luctus nec. Aliquam ac molestie enim, ut ultrices elit. Fusce laoreet vulputate risus in tincidunt. Sed commodo mollis maximus. Nullam varius laoreet nibh sit amet facilisis. Donec ac odio vehicula, consequat elit et, sodales justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam ac auctor mauris, in hendrerit libero. </p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>