<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecole</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

<!-- <div id="fixed-navbar-"> <a href="">Accueil </a>  </div> -->
<div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->
      <!-- <ul>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
      </ul> -->
   </div>
   <!-- menu-wrapper -->
	   <ul class="menu-list accordion">
	      <li id="nav1" class="toggle" style="padding: 20px;"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/">
	         	Accueil&nbsp;
	     	 </a>
	      </li>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav1" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Programme&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	      	 <a class="menu-link" href="/presentation">Présentation</a>
	         <li><a class="head" href="/plateforme">Plateforme</a></li>
	         <li><a class="head" href="/programme">Programmes</a></li>
	         <li><a class="head" href="/planning">Planning</a></li>

	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav2" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Projet pédagogique </br>1ère et 2ème Année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/nos_intentions">&nbsp; Nos intentions</a></li>
	         <li><a class="head" href="/methode">&nbsp; Méthode</a></li>
	         <li><a class="head" href="/un_realisateur">&nbsp; Un réalisateur/Une œuvre/Une année</a></li>
	         <li><a class="head" href="/masterclass">&nbsp; Master Class, Workshop</a></li>
	         <li><a class="head" href="/videoconf">&nbsp; Vidéo-conférences</a></li>
	         <li><a class="head" href="/pedagogie_prog">&nbsp; Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements théoriques  </br>1ère et 2ème Année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/ecran_narration">Ecrans/Narration</a></li>
	         <li><a class="head" href="/modules_theoriques">&nbsp; - Modules théoriques</a></li>
	         <li><a class="head" href="/theoriques_optionnels">Modules théoriques optionnels</a></li>
	         <li><a class="head" href="/ensemble">&nbsp; - Ensemble / A la carte</a></li>
	         <!-- <li><a class="head" href="/alacarte">&nbsp; - A la carte</a></li> -->
<!-- 	         <li><a class="head" href="/">&nbsp; - Histoire du l'Art</a></li>
	         <li><a class="head" href="/">&nbsp; - Technique et cognition</a></li>
	         <li><a class="head" href="/">Ensemble</a></li>
	         <li><a class="head" href="/">&nbsp; - Programme imposés</a></li>
	         <li><a class="head" href="/">A la carte</a></li>
	         <li><a class="head" href="/">&nbsp; - Programmes optionnels</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements pratiques  </br>1ère et 2ème Année&nbsp;</a>
	      </li> 
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/pratiques">Enseignements pratiques</a></li>
	         <li><a class="head" href="/modules_pratiques">Modules pratiques</a></li>
	         <!-- <li><a class="head" href="/modulesoptionnels">&nbsp; - Modules pratiques optionnels</a></li> -->
	         <li><a class="head" href="/options_2">Modules optionnels</a></li>
	         <li><a class="head" href="/videoconf_2">&nbsp; - Vidéo-conférences</a></li>
	         <li><a class="head" href="/formes_narrative">&nbsp; - Les formes narratives</a></li>
	         <li><a class="head" href="/mooc">&nbsp; - MOOCS</a></li>
	         <li><a class="head" href="/moocopen">&nbsp; - Open MOOCS</a></li>
	         <li><a class="head" href="/ensemble_a_la_carte_2">Ensemble / A la carte</a></li>
	        <!--  <li><a class="head" href="#">A la carte</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Les écoles Paris / Toulouse &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/planning">&nbsp; Paris 1ère et 2ème Année cinéma</a></li>
	         <li><a class="head" href="http://www.prepart.fr/prepa-cinema/">&nbsp; Toulouse prépa cinéma</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/equipes-enseigantes">Equipes enseignantes &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/equipes_enseigantes">&nbsp; Paris</a></li>
	         <li><a class="head" href="/equipes_enseigantes">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/films_etudiants">Films d'étudiants &nbsp;</a>
	      </li>
	       <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/films_etudiants">&nbsp; Paris</a></li>
	         <li><a class="head" href="/films_etudiants">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <!-- 
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact">Inscriptions/Connexion</a>
	      </li>
	      <!-- 
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/contact">&nbsp; Connexion </a></li>
	         <li><a class="head" href="/contact">&nbsp; Inscription </a></li>
	         <!-- <li><a class="head" href="/contact">&nbsp; Choix des options </a></li> 
	         <li><a class="head" href="/contact">&nbsp; Regles les droits d'inscription</a></li>
	      </ul>
	     menu-submenu accordon-content-->
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/contact">Contactez-nous</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content" style="padding-right: 17px;">
	         
	         <!-- <div class="news-btn"><li><a class="head" href="contact"><span class="element-color">Week-end "portes ouvertes" le 9 et 10 décembre 2017 <br> Venez-nous retrouver au <br>111 bis bld de Ménilmontant PARIS 75011</span></a></li></div> -->

	         <button class="button alt fit"><li><a class="head" href="contact">Renseignez-vous</a></li></button> 
	         <!--
	         <button class="button alt fit"><li><a class="head" href="/contact">Prendre rendez-vous</a></li></button>
			-->
	      </ul>
	   </ul>
	   <!-- menu-list accordion-->
</div>