<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecole</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

<!-- <div id="fixed-navbar-"> <a href="">Accueil </a>  </div> -->
<div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->
      <!-- <ul>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
      </ul> -->
   </div>
   <!-- menu-wrapper -->
	   <ul class="menu-list accordion">
	      <li id="nav1" class="toggle" style="padding: 20px;"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="index.html">
	         	Accueil&nbsp;
	     	 </a>
	      </li>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav1" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Programme&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	      	 <a class="menu-link" href=".//presentation.html">Présentation</a>
	         <li><a class="head" href=".//plateforme.html">Plateforme</a></li>
	         <li><a class="head" href=".//programme.html">Programmes</a></li>
	         <li><a class="head" href=".//planning.html">Planning</a></li>

	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav2" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Projet pédagogique </br>1ère et 2ème Année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/nosintentions.html">&nbsp; Nos intentions</a></li>
	         <li><a class="head" href="/methode.html">&nbsp; Méthode</a></li>
	         <li><a class="head" href="/unrealisateur.html">&nbsp; Un réalisateur/Une œuvre/Une année</a></li>
	         <li><a class="head" href="/masterclass.html">&nbsp; Master Class, Workshop</a></li>
	         <li><a class="head" href="/videoconf.html">&nbsp; Vidéo-conférences</a></li>
	         <li><a class="head" href="/pedagogie_prog.html">&nbsp; Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements théoriques  </br>1ère et 2ème Année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/ecrannarration.html">Ecrans/Narration</a></li>
	         <li><a class="head" href="/moduletheorique.html">&nbsp; - Modules théoriques</a></li>
	         <li><a class="head" href="/theoriquesoptionnels.html">Modules théoriques optionnels</a></li>
	         <li><a class="head" href="/ensemble.html">&nbsp; - Ensemble / A la carte</a></li>
	         <!-- <li><a class="head" href="/alacarte.html">&nbsp; - A la carte</a></li> -->
<!-- 	         <li><a class="head" href="/.html">&nbsp; - Histoire du l'Art</a></li>
	         <li><a class="head" href="/.html">&nbsp; - Technique et cognition</a></li>
	         <li><a class="head" href="/.html">Ensemble</a></li>
	         <li><a class="head" href="/.html">&nbsp; - Programme imposés</a></li>
	         <li><a class="head" href="/.html">A la carte</a></li>
	         <li><a class="head" href="/.html">&nbsp; - Programmes optionnels</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements pratiques  </br>1ère et 2ème Année&nbsp;</a>
	      </li> 
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/pratiques.html">Enseignements pratiques</a></li>
	         <li><a class="head" href="/modulespratiques.html">Modules pratiques</a></li>
	         <!-- <li><a class="head" href="/modulesoptionnels.html">&nbsp; - Modules pratiques optionnels</a></li> -->
	         <li><a class="head" href="/options2.html">Modules optionnels</a></li>
	         <li><a class="head" href="/videoconf2.html">&nbsp; - Vidéo-conférences</a></li>
	         <li><a class="head" href="/formesnarrative.html">&nbsp; - Les formes narratives</a></li>
	         <li><a class="head" href="/mooc.html">&nbsp; - MOOCS</a></li>
	         <li><a class="head" href="/moocopen.html">&nbsp; - Open MOOCS</a></li>
	         <li><a class="head" href="/ensemble_a_la_carte_2.html">Ensemble / A la carte</a></li>
	        <!--  <li><a class="head" href="#">A la carte</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Les écoles Paris / Toulouse &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href=".//planning.html">&nbsp; Paris 1ère et 2ème Année cinéma</a></li>
	         <li><a class="head" href="http://www.prepart.fr/prepa-cinema/">&nbsp; Toulouse prépa cinéma</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/equipes-enseigantes.html">Equipes enseignantes &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/equipes-enseigantes.html">&nbsp; Paris</a></li>
	         <li><a class="head" href="/equipes-enseigantes.html">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/films-etudiants.html">Films d'étudiants &nbsp;</a>
	      </li>
	       <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/films-etudiants.html">&nbsp; Paris</a></li>
	         <li><a class="head" href="/films-etudiants.html">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <!-- 
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact.html">Inscriptions/Connexion</a>
	      </li>
	      <!-- 
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="/contact.html">&nbsp; Connexion </a></li>
	         <li><a class="head" href="/contact.html">&nbsp; Inscription </a></li>
	         <!-- <li><a class="head" href="/contact.html">&nbsp; Choix des options </a></li> 
	         <li><a class="head" href="/contact.html">&nbsp; Regles les droits d'inscription</a></li>
	      </ul>
	     menu-submenu accordon-content-->
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="/contact.html">Contactez-nous</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content" style="padding-right: 17px;">
	         
	         <!-- <div class="news-btn"><li><a class="head" href="contact.html"><span class="element-color">Week-end "portes ouvertes" le 9 et 10 décembre 2017 <br> Venez-nous retrouver au <br>111 bis bld de Ménilmontant PARIS 75011</span></a></li></div> -->

	         <button class="button alt fit"><li><a class="head" href="/contact.html">Renseignez-vous</a></li></button> 
	         <!--
	         <button class="button alt fit"><li><a class="head" href="/contact.html">Prendre rendez-vous</a></li></button>
			-->
	      </ul>
	   </ul>
	   <!-- menu-list accordion-->
</div>