<!DOCTYPE HTML>
<html>
	<head>
		<title>Ecole</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body>

		
<!-- <div id="fixed-navbar-"> <a href="">Accueil </a>  </div> -->
<div id="menu-container">
   <div id="menu-wrapper">
      <div id="hamburger-menu"><span></span><span></span><span></span></div>
      <!-- hamburger-menu -->
      <!-- <ul>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
         <li>
            liste
         </li>
      </ul> -->
   </div>
   <!-- menu-wrapper -->
	   <ul class="menu-list accordion">
	      <li id="nav1" class="toggle" style="padding: 20px;"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="../index.html">
	         	Accueil&nbsp;
	     	 </a>
	      </li>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav1" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Programme&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	      	 <a class="menu-link" href="./presentation.html">Présentation</a>
	         <li><a class="head" href="./plateforme.html">Plateforme</a></li>
	         <li><a class="head" href="./programme.html">Programmes</a></li>
	         <li><a class="head" href="./planning.html">Planning</a></li>

	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav2" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Projet pédagigique </br>1° et 2° année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="nosintentions.html">&nbsp; Nos intentions</a></li>
	         <li><a class="head" href="methode.html">&nbsp; Méthode</a></li>
	         <li><a class="head" href="unrealisateur.html">&nbsp; Un réalisateur/Une œuvre/Une année</a></li>
	         <li><a class="head" href="masterclass.html">&nbsp; Master Class, Workshop</a></li>
	         <li><a class="head" href="videoconf.html">&nbsp; Vidéo-conférences</a></li>
	         <li><a class="head" href="pedagogie_prog.html">&nbsp; Programmes optionnels</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Enseignements théoriques  </br>1° et 2° année&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="ecrannarration.html">Ecrans/Narration</a></li>
	         <li><a class="head" href="moduletheorique.html">&nbsp; - Modules théoriques</a></li         <li><a class="head" href="theoriquesoptionnels.html">Modules théoriques optionnels</a></li>
	         <li><a class="head" href="ensemble.html">&nbsp; - Ensemble / A la carte</a></li>
	         <!-- <li><a class="head" href="alacarte.html">&nbsp; - A la carte</a></li> -->
<!-- 	         <li><a class="head" href=".html">&nbsp; - Histoire du l'Art</a></li>
	         <li><a class="head" href=".html">&nbsp; - Technique et cognition</a></li>
	         <li><a class="head" href=".html">Ensemble</a></li>
	         <li><a class="head" href=".html">&nbsp; - Programme imposés</a></li>
	         <li><a class="head" href=".html">A la carte</a></li>
	         <li><a class="head" href=".html">&nbsp; - Programmes optionnels</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	   
	         <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	        <a class="menu-link" href="#">Enseignements pratiques  </br>1° et 2° année&nbsp;</a>
	      </li> 
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="pratiques.html">Enseignements pratiques</a></li>
	         <li><a class="head" href="modulespratiques.html">Modules pratiqu  <a class="menu-link" href="#">Enseignements pratiques  </br>1° et 2° année&nbsp;</a>
	      </li> 
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="pratiques.html">Enseignements pratiques</a></li>es</a></li>
	         <li><a class="head" href="modulesoptionnels.html">&nbsp; - Modules pratiques optionnels</a></li>
	         <li><a class="head" href="options2.html">Modules optionnels</a></li>
	         <li><a class="head" href="videoconf2.html">&nbsp; - Vidéo-conférences</a></li>
	         <li><a class="head" href="formesnarrative.html">&nbsp; - Les formes narratives</a></li>
	         <li><a class="head" href="mooc.html">MOOCS</a></li>
	         <li><a class="head" href="moocopen.html">MOOCS open</a></li>
	         <li><a class="head" href="ensemble_a_la_carte_2.html">Ensemble / A la carte</a></li>
	        <!--  <li><a class="head" href="#">A la carte</a></li> -->
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="#">Les Ecoles&nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="planning.html">&nbsp; Paris cursus long</a></li>
	         <li><a class="head" href="http://www.prepart.fr/prepa-cinema/">&nbsp; Toulouse prépa Cinéma</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="equipes-enseigantes.html">Equipes enseignantes &nbsp;</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="equipes-enseigantes.html">&nbsp; Paris</a></li>
	         <li><a class="head" href="equipes-enseigantes.html">&nbsp; Toulouse</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact.html">Inscriptions/Connexion</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content">
	         <li><a class="head" href="contact.html">&nbsp; Connexion </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Inscription </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Choix des options </a></li>
	         <li><a class="head" href="contact.html">&nbsp; Regles les droits d'inscription</a></li>
	      </ul>
	      <!-- menu-submenu accordon-content-->
	      <li id="nav3" class="toggle accordion-toggle"> 
	         <span class="icon-plus"></span>
	         <a class="menu-link" href="contact.html">Contactez-nous</a>
	      </li>
	      <!-- accordion-toggle -->
	      <ul class="menu-submenu accordion-content" style="padding-right: 17px;">
	         <button class="button alt fit"><li><a class="head" href="contact.html">Renseignez-vous</a></li></button> 
	         <button class="button alt fit"><li><a class="head" href="contact.html">Prendre rendez-vous</a></li></button>

	      </ul>
	   </ul>
	   <!-- menu-list accordion-->
</div>
<!-- menu-container -->

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Écrans / Narrations /New tech</p>
						<h2>Programme</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<!-- <p>maecenas sapien feugiat ex purus</p>
								<h2>Programme</h2> -->
							</header>
							<p>Notre projet pédagogique est entièrement basé sur la formation par la transmission d’expériences offertes par les personnalités les plus décisives les domaines sollicités. Les programmes ont été conçus pour créer une synergie apte à remplir le cahier des charges propres à un cycle long tout en favorisant l’éveil, en stimulant le questionnement dialectique, la prise de position, les modalités critiques, d’analyse, de pensées, de réflexion et de productions.
							Chaque année pédagogique, ou promotion, s’organisera autour d’un axe vertical structurant construit sur le motif ; </p>

							<p>un réalisateur/une œuvre/une année</p>

							<p>L’École articulera également un principe d’enseignement « ensemble et à la carte ».</p>

							<p>« ensemble »</p>

							<p> - pour mesurer et révéler son univers artistique personnel au sein de modules collectifs basé sur la transmission d’expériences professionnelles</p>

							<p> - pour élaborer et réaliser ses projets personnels</p>

							<p>« à la carte »</p>

							<p> - pour augmenter l’expérience collective avec sa propre sensibilité</p>

							<p> - pour développer sa capacité analytique et sa lecture critique</p>

							<p>Ces enseignements s’organiseront à partir ;</p>

							<p> - de Moocs (Massive online open courses)</p>

							<p> - de visio-conférences sur grand écran avec des professionnels du cinéma</p>

							<p>/de workshops en interne à l’école, et en externe dans des studios (compagnies partenaires)</p>

							<p> - des interventions « éclairs » provoquées par ce qui arrive dans l’actualité,</p>

							<p> - d’éventuelles modifications de projets et d’orientation, toujours en fonction du « ce qui arrive », sans omettre le travail sur et avec les nouvelles technologies dont il est désormais impossible de faire l’économie.</p>

							<p>Nos programmes ont résolument intégré la mutation numérique et la transformation du rôle de l’enseignant. Nous avons donc privilégié travailler avec une nouvelle génération de professeurs/ intervenants, nouveaux profils, nouvelles intra-disciplines en nous appuyant sur les modèles des universités connectées, ouvertes sur le monde entier.</p>

							<p>Nous mettrons l’Ecole en réseau avec des universités européennes, les start-up de l’éducation, de l’économie numérique, du cinéma, des plateformes de contenus offrant ainsi à nos étudiants une connexion permanente depuis son portable pour l’accès aux programmes à la carte.  </p>


							
							 <div class="image fit">
								<img src="../images/actor_donuts.jpg" alt="" style="width:500px;height:706px;margin: 0 auto;"/>
							</div>
						
						
							
						</div>
					</div>
				</div>
			</section>

		 <!-- Scroll top here -->
		 <a href="#menu-container" class="size-60 text-center"><span class="scroll-to-top "><i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
		 </span></a>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>